<p style= "color: green"><%= notice %></p>
<h2 align="center">Lista de Articulos</h2>
<% @articles.each do |article| %>
  <br/>
  <div class="card">
   <h4><%= link_to article.title, article_path(article) %></h4>
   <div>
      <small>Creado por: <%= article.user.username %>, 
                        <%= time_ago_in_words(article.created_at) %> ago,
                      last update: <%= time_ago_in_words(article.updated_at) %> ago 
      </small>
      </div>
    <div class="card-body">
      <%= truncate(article.description, length: 100) %> 
      
    </div>   
  </div>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <%= link_to "Editar articulo", edit_article_path(article), class: "btn btn-outline-primary btn-sm" %>
    <%= button_to "Borrar Articulo", article_path(article), method: :delete, 
                                  class: "btn btn-danger btn-sm" %>
  </div>
  <br/>
<% end %>  
