<p style= "color: green">
<%= notice %>
</p>

<%= render @article %>

<div>
  <%= link_to "Edita este articulo", edit_article_path(@article) %> |
  <%= link_to "Regresar a Articulos", articles_path %>

  <%= button_to "Borrar Articulo", @article, method: :delete %>
</div>
