<p style="color: green"><%= notice %></p>

<h2 align="center">Titulo: <%= @article.title%></h2>

<h4><strong>Descripcion</strong></h4>
<div class="card">
  <div class="card-body">
   <%= simple_format(@article.description) %> 
  </div>
</div>
<br/>
  
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <%= link_to "Ver articulos", articles_path, class: "btn btn-outline-primary" %>
  <%= link_to "Editar articulo", edit_article_path(@article), class: "btn btn-outline-primary" %>
  <%= button_to "Borrar Articulo", article_path(@article), method: :delete, 
                                class: "btn btn-danger" %>
</div>
